.clearfix:before, .clearfix:after { 
	content: ""; 
	display: table; 
}

.clearfix:after { 
	clear: both; 
}
a {
	color:#0067ab; 
	text-decoration:none;
}

a:hover {
	text-decoration:underline;
}

.form{
	width: 300px; 
	margin: 0 auto;
	
}

input[type='text'], input[type='email'], input[type='password'] {
	width: 200px; 
	border-radius: 2px; 
	padding: 10px; 
	color: #333; 
	font-size: 14px; 
	margin-top: 10px;
}

input[type='submit']{
	padding: 20px 25px 8px; 
	color: #fff; 
	background-color: #0067ab; 
	text-shadow: rgba(0,0,0,0.24) 0 1px 0; 
	font-size: 16px; 
	box-shadow: rgba(255,255,255,0.24) 0 2px 0 0 inset,#fff 0 1px 0 0; 
	border: 1px solid #0164a5; 
	border-radius: 2px; 
	margin-top: 10px; 
	cursor:pointer;
}

input[type='submit']:hover {
	background-color: #024978;
}

form, .content {
	width: 60%;
	margin: 20px auto;
	padding: 30px 30px 40px 40px;
	border: 4px solid #B0C4DE;
	background: white;
	border-radius: 10px 10px 10px 10px;
}

.header {
	width: 30%;
	margin: 55px auto 0px;
	color: white;
	background: #b0c4de;
	text-align: center;
	border: 1px solid #B0C4DE;
	border-bottom: none;
	border-radius: 15px 15px 15px 15px;
	padding: 35px;
}

